Repository treivax/tsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

go-fmt:
  name: Go Format
  entry: gofmt
  args:
  - -l
  - -s
  - -w
  language: system

go-vet:
  name: Go Vet
  entry: go
  args:
  - vet
  - ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

Re-enable and fix propagation tests for JoinNode
  rete/pkg/nodes/beta_coverage_test.go
Due: go-fmt, go-vet

Add tests for alpha_sharing registry and builder_join_rules methods
  rete/alpha_sharing_registry_test.go
  rete/builder_join_rules_test.go
Due: go-fmt, go-vet

Add tests for CommandError.Unwrap and DefaultAdvancedPipelineConfig
  rete/command_test.go
  rete/constraint_pipeline_advanced_test.go
Due: go-fmt, go-vet

Add comprehensive tests for constraint pipeline builder wrapper functions
  rete/constraint_pipeline_builder_wrappers_test.go
Due: go-fmt, go-vet

Add comprehensive tests for MetricsCollector
  rete/constraint_pipeline_metrics_test.go
Due: go-fmt, go-vet

Add tests for remaining IngestionMetrics methods
  rete/constraint_pipeline_metrics_test.go
Due: go-fmt, go-vet

Add tests for WorkingMemory and Fact/Token utility functions
  rete/fact_token_test.go
Due: go-fmt, go-vet

Add comprehensive tests for ConstraintPipeline core functions
  rete/constraint_pipeline_test.go
Due: go-fmt, go-vet

Add comprehensive tests for organizeFactsByType and collectExistingFacts
  rete/constraint_pipeline_test.go
Due: go-fmt, go-vet

Add comprehensive tests for constraint pipeline validator functions
  rete/constraint_pipeline_validator_test.go
Due: go-fmt, go-vet

Add comprehensive tests for ingestFileWithMetrics and processRuleRemovals
  rete/constraint_pipeline_test.go
Due: go-fmt, go-vet

Add comprehensive tests for constraint pipeline parser functions
  rete/constraint_pipeline_parser_test.go
Due: go-fmt, go-vet

refactor(rete): split beta_chain_builder.go into focused modules
  BETA_CHAIN_BUILDER_REFACTORING_SUMMARY.md
  rete/BETA_CHAIN_BUILDER_REFACTORING.md
  rete/beta_chain.go
  rete/beta_chain_builder.go
  rete/beta_chain_cache.go
  rete/beta_chain_constructor.go
  rete/beta_chain_optimizer.go
Due: go-fmt, go-vet

refactor(rete): split constraint_pipeline_parser into focused modules
  rete/CONSTRAINT_PIPELINE_PARSER_REFACTORING.md
  rete/CONSTRAINT_PIPELINE_PARSER_REFACTORING_SUMMARY.md
  rete/constraint_pipeline_aggregation.go
  rete/constraint_pipeline_detection.go
  rete/constraint_pipeline_join.go
  rete/constraint_pipeline_parser.go
  rete/constraint_pipeline_variables.go
Due: go-fmt, go-vet

refactor(rete): split alpha_chain_extractor into focused modules
  rete/ALPHA_CHAIN_EXTRACTOR_REFACTORING.md
  rete/ALPHA_CHAIN_EXTRACTOR_REFACTORING_SUMMARY.md
  rete/alpha_chain_canonical.go
  rete/alpha_chain_compare.go
  rete/alpha_chain_extractor.go
  rete/alpha_chain_normalize.go
  rete/alpha_chain_rebuild.go
Due: go-fmt, go-vet

refactor(rete): split expression_analyzer and alpha_chain_builder into focused modules
  rete/ALPHA_CHAIN_BUILDER_REFACTORING.md
  rete/ALPHA_CHAIN_BUILDER_REFACTORING_SUMMARY.md
  rete/EXPRESSION_ANALYZER_ALPHA_BUILDER_REFACTORING_PLAN.md
  rete/EXPRESSION_ANALYZER_REFACTORING.md
  rete/EXPRESSION_ANALYZER_REFACTORING_SUMMARY.md
  rete/alpha_chain_builder.go
  rete/alpha_chain_builder_cache.go
  rete/alpha_chain_builder_stats.go
  rete/expression_analyzer.go
  rete/expression_analyzer_characteristics.go
  rete/expression_analyzer_demorgan.go
  rete/expression_analyzer_info.go
  rete/expression_analyzer_optimization.go
Due: go-fmt, go-vet

refactor: split beta_sharing, arithmetic_decomposition_metrics, and builder_join_rules into focused modules
  BETA_SHARING_METRICS_BUILDER_REFACTORING_PLAN.md
  BETA_SHARING_METRICS_BUILDER_REFACTORING_SUMMARY.md
  rete/arithmetic_decomposition_metrics.go
  rete/arithmetic_decomposition_metrics_helpers.go
  rete/arithmetic_decomposition_metrics_query.go
  rete/beta_sharing.go
  rete/beta_sharing_hash.go
  rete/beta_sharing_helpers.go
  rete/beta_sharing_stats.go
  rete/builder_join_rules.go
  rete/builder_join_rules_binary.go
  rete/builder_join_rules_cascade.go
Due: go-fmt, go-vet

refactor(constraint,rete): split constraint_utils and constraint_pipeline into focused modules
  CONSTRAINT_UTILS_PIPELINE_REFACTORING_PLAN.md
  CONSTRAINT_UTILS_PIPELINE_REFACTORING_SUMMARY.md
  constraint/constraint_actions.go
  constraint/constraint_constants.go
  constraint/constraint_facts.go
  constraint/constraint_field_validation.go
  constraint/constraint_program.go
  constraint/constraint_type_checking.go
  constraint/constraint_type_validation.go
  constraint/constraint_utils.go
  rete/constraint_pipeline.go
  rete/constraint_pipeline_facts.go
  rete/constraint_pipeline_propagation.go
  rete/constraint_pipeline_types.go
Due: go-fmt, go-vet

refactor(rete): split action_executor.go into focused modules (Phase 1)
  ACTION_EXECUTOR_REFACTORING_SUMMARY.md
  ACTION_EXECUTOR_STRONG_MODE_NORMALIZER_REFACTORING_PLAN.md
  rete/action_executor.go
  rete/action_executor_context.go
  rete/action_executor_evaluation.go
  rete/action_executor_facts.go
  rete/action_executor_helpers.go
  rete/action_executor_validation.go
Due: go-fmt, go-vet

refactor(rete): split strong_mode_performance and nested_or_normalizer
  STRONG_MODE_NESTED_OR_REFACTORING_SUMMARY.md
  rete/nested_or_normalizer.go
  rete/nested_or_normalizer_analysis.go
  rete/nested_or_normalizer_dnf.go
  rete/nested_or_normalizer_flattening.go
  rete/nested_or_normalizer_helpers.go
  rete/strong_mode_performance.go
  rete/strong_mode_performance_analysis.go
  rete/strong_mode_performance_calculations.go
  rete/strong_mode_performance_health.go
  rete/strong_mode_performance_reporting.go
  rete/strong_mode_performance_types.go
Due: go-fmt, go-vet

docs: add comprehensive deep-clean audit report
  DEEP_CLEAN_AUDIT_REPORT.md
Due: none

docs: add comprehensive code statistics report
  CODE_STATISTICS_REPORT.md
Due: none

feat(server): add HTTP server and CLI client
  CHANGELOG.md
  TSD_SERVER_CLIENT_SUMMARY.md
  cmd/tsd-client/main.go
  cmd/tsd-server/main.go
  cmd/tsd-server/main_test.go
  docs/TSD_SERVER_CLIENT.md
  examples/server/README.md
  examples/server/multiple_activations.tsd
  examples/server/simple.tsd
  scripts/test_server_client.sh
  tsdio/api.go
Due: go-fmt, go-vet

feat: Add comprehensive authentication system (Auth Key + JWT)
  CHANGELOG.md
  auth/auth.go
  cmd/tsd-auth/main.go
  cmd/tsd-client/main.go
  cmd/tsd-server/main.go
  docs/AUTHENTICATION.md
  docs/AUTHENTICATION_DIAGRAMS.md
  docs/AUTHENTICATION_QUICKSTART.md
  docs/AUTHENTICATION_TUTORIAL.md
  docs/AUTH_IMPLEMENTATION_SUMMARY.md
  examples/auth/README.md
  examples/auth/client_auth_key.py
  examples/auth/client_jwt.py
  go.mod
  go.sum
  scripts/test_auth.sh
Due: go-fmt, go-vet, go-mod-tidy

chore: Clean up obsolete documentation and code
  .github/RELEASE_NOTES_v1.0.0-runner-simplified.md
  CHANGELOG.md
  CLEANUP_SUMMARY.md
  README.md
  REPORTS/.gitkeep
  REPORTS/README.md
  cmd/add-missing-actions/main.go
  docs/AUTH_IMPLEMENTATION_SUMMARY.md
  docs/TSD_SERVER_CLIENT.md
  rete/ALPHA_CHAIN_BUILDER_REFACTORING.md
  rete/ALPHA_CHAIN_BUILDER_REFACTORING_SUMMARY.md
  rete/ALPHA_CHAIN_EXTRACTOR_REFACTORING.md
  rete/ALPHA_CHAIN_EXTRACTOR_REFACTORING_SUMMARY.md
  rete/BETA_CHAIN_BUILDER_REFACTORING.md
  rete/CONSTRAINT_PIPELINE_PARSER_REFACTORING.md
  rete/CONSTRAINT_PIPELINE_PARSER_REFACTORING_SUMMARY.md
  rete/EXPRESSION_ANALYZER_ALPHA_BUILDER_REFACTORING_PLAN.md
  rete/EXPRESSION_ANALYZER_REFACTORING.md
  rete/EXPRESSION_ANALYZER_REFACTORING_SUMMARY.md
  rete/NETWORK_REFACTORING.md
Due: go-fmt, go-vet

docs: mettre à jour documentation pour binaire unique tsd
  docs/AUTHENTICATION_TUTORIAL.md
  examples/auth/README.md
  examples/server/README.md
Due: none

feat: Add TLS/HTTPS support by default for TSD server and client
  .gitignore
  README.md
  REPORTS/README.md
  cmd/tsd/main.go
  docs/AUTHENTICATION_TUTORIAL.md
  docs/TLS_CONFIGURATION.md
  examples/tls/README.md
  examples/tls/quick-start.sh
  internal/authcmd/authcmd.go
  internal/clientcmd/clientcmd.go
  internal/servercmd/servercmd.go
Due: go-fmt, go-vet

chore: Remove obsolete test/ directory
  test/README.md
  test/iterative_parsing_test.go
  test/testutil/helper.go
  test/testutil/helper_test.go
Due: go-fmt, go-vet

feat(rete): migration vers stockage in-memory uniquement
  rete/coherence_mode.go
  rete/coherence_mode_test.go
  rete/doc.go
  rete/internal/config/config.go
  rete/internal/config/config_test.go
  rete/store_base.go
  rete/store_indexed.go
Due: go-fmt, go-vet

feat(rete): ajout du support du type casting
  examples/type-casting.tsd
  rete/action_cast_integration_test.go
  rete/action_executor_evaluation.go
  rete/evaluator_cast.go
  rete/evaluator_cast_test.go
Due: go-fmt, go-vet

feat(rete): amélioration des opérations sur les chaînes
  examples/string-operations.tsd
  rete/evaluator_operators.go
  rete/evaluator_values.go
  rete/string_concatenation_test.go
Due: go-fmt, go-vet

feat(constraint): support mots-clés insensibles à la casse et identifiants UTF-8
  constraint/grammar/constraint.peg
  constraint/parser.go
  constraint/parser_case_insensitive_test.go
  constraint/parser_utf8_identifiers_test.go
  constraint/program_state.go
  examples/case-insensitive-keywords-README.md
  examples/case-insensitive-keywords.tsd
  examples/utf8-and-identifier-styles.tsd
Due: go-fmt, go-vet

docs(examples): mise à jour pour architecture in-memory only
  examples/README.md
  examples/standalone/test_fact_count/main.go
  examples/standalone/test_multi_rules/main.go
  examples/strong_mode/main.go
Due: go-fmt, go-vet

docs: nettoyage et suppression de documentation obsolète
  docs/AUTHENTICATION_DIAGRAMS.md
  docs/AUTHENTICATION_QUICKSTART.md
  docs/AUTHENTICATION_TUTORIAL.md
  docs/EXAMPLES.md
  docs/FEATURES.md
  docs/OPTIMIZATIONS.md
  docs/PROMETHEUS_INTEGRATION.md
  docs/README.md
  docs/STRONG_MODE_TUNING_GUIDE.md
  docs/TLS_CONFIGURATION.md
  docs/TRANSACTION_ARCHITECTURE.md
  docs/TRANSACTION_README.md
  docs/UNIFIED_BINARY.md
  docs/development_guidelines.md
Due: none

docs: ajout de nouvelle documentation structurée
  docs/ARCHITECTURE.md
  docs/CLEANUP_PLAN.md
  docs/CONTRIBUTING.md
  docs/INMEMORY_ONLY_MIGRATION.md
  docs/INSTALLATION.md
  docs/LOGGING_GUIDE.md
  docs/QUICK_START.md
  docs/USER_GUIDE.md
Due: none

docs: mise à jour documentation racine et REPORTS
  CHANGELOG.md
  PROJECT_STRUCTURE.md
  README.md
  REPORTS/README.md
Due: none

chore: suppression fichiers obsolètes à la racine
  CLEANUP_SUMMARY.md
  UNIFIED_BINARY_IMPLEMENTATION.md
  validate_advanced_features.sh
Due: none

chore(deps): mise à jour go.mod après deep clean
  go.mod
Due: go-mod-tidy

chore: suppression LOGGING_GUIDE.md de la racine
  LOGGING_GUIDE.md
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
