Repository treivax/tsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-fmt
        name: Go Format
        entry: gofmt
        args: [-l, -s, -w]
        language: system
        files: \.go$

      - id: go-vet
        name: Go Vet
        entry: go
        args: [vet, ./...]
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-tidy
        name: Go Mod Tidy
        entry: go
        args: [mod, tidy]
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

docs: add final documentation restructuring report
  DOCUMENTATION_RESTRUCTURATION_COMPLETE.md
Due: none

docs: consolidate documentation - strict cleanup
  ARCHIVES/DOC_CONSOLIDATION_2025.md
  ARCHIVES/architecture/BINDINGS_STATUS_REPORT.md
  ARCHIVES/architecture/CODE_REVIEW_BINDINGS.md
  ARCHIVES/migration/INMEMORY_ONLY_MIGRATION.md
  ARCHIVES/restructuration/DOCUMENTATION_RESTRUCTURATION_COMPLETE.md
  DOCUMENTATION_INVENTORY.md
  docs/API_REFERENCE.md
  docs/AUTHENTICATION.md
  docs/CONTRIBUTING.md
  docs/GRAMMAR_GUIDE.md
  docs/INSTALLATION.md
  docs/LOGGING_GUIDE.md
  docs/QUICK_START.md
  docs/README.md
  docs/RESTRUCTURATION_2025.md
  docs/TUTORIAL.md
  docs/USER_GUIDE.md
  docs/WORKING_MEMORY.md
  docs/api.md
  docs/architecture.md
  docs/architecture/BINDINGS_ANALYSIS.md
  docs/architecture/BINDINGS_DESIGN.md
  docs/architecture/BINDINGS_PERFORMANCE.md
  docs/configuration.md
  docs/configuration/RETE_CONFIGURATION.md
  docs/guides.md
  docs/installation.md
  docs/reference.md
Due: none

docs(stats): add comprehensive project statistics report
  REPORTS/STATS_COMPLETE_2025-01-15.md
Due: none

test: améliorer couverture à 86.8% pour constraint/cmd (+9.4%)
  REPORTS/TEST_COVERAGE_IMPROVEMENT_2025-01-15.md
  constraint/cmd/main_unit_test.go
  internal/servercmd/servercmd_coverage_additional_test.go
Due: go-fmt, go-vet

✅ Phase 2: Amélioration couverture internal/servercmd (74.4% → 83.4%)
  internal/servercmd/servercmd.go
  internal/servercmd/servercmd_coverage_additional_test.go
Due: go-fmt, go-vet

📊 Ajout rapport Phase 2 - Amélioration couverture tests
  REPORTS/TEST_COVERAGE_IMPROVEMENT_PHASE2_2025-12-15.md
Due: none

📊 Phase 3: Rapport final et analyse de couverture
  REPORTS/TEST_COVERAGE_PHASE3_ANALYSIS_2025-12-15.md
Due: none

🎯 Phase 4a: Configuration couverture production + CI/CD
  .github/workflows/test-coverage.yml
  Makefile
  README.md
Due: none

📊 Phase 4: Rapport final - Objectif 80% DÉPASSÉ (81.2%)
  REPORTS/TEST_COVERAGE_PHASE4_SUCCESS_2025-12-15.md
Due: none

docs(contributing): refactorer CONTRIBUTING.md selon standards projet
  CONTRIBUTING.md
  README.md
  REPORTS/REFACTORING_CONTRIBUTING_2025-12-16.md
Due: none

chore: ajouter templates GitHub pour issues et PR
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: none

docs: ajout de la documentation d'architecture et de sécurité
  SECURITY.md
  TODO_VULNERABILITIES.md
  docs/architecture/SYSTEM_OVERVIEW.md
  docs/architecture/diagrams/01-global-architecture.md
  docs/architecture/diagrams/02-data-flow.md
  docs/architecture/diagrams/03-rete-architecture.md
  docs/architecture/diagrams/04-security-flow.md
  docs/architecture/diagrams/05-data-model.md
  docs/architecture/diagrams/README.md
  docs/security/HTTP_SECURITY_HEADERS.md
  docs/security/VULNERABILITY_SCANNING.md
Due: none

feat(tls): ajout du package tlsconfig pour configuration TLS sécurisée
  internal/tlsconfig/tlsconfig.go
  internal/tlsconfig/tlsconfig_test.go
Due: go-fmt, go-vet

feat(client): ajout de mécanisme de retry avec exponential backoff
  internal/clientcmd/retry.go
  internal/clientcmd/retry_test.go
Due: go-fmt, go-vet

test(shared): ajout des utilitaires de test réseau partagés
  tests/shared/testutil/network.go
  tests/shared/testutil/network_test.go
Due: go-fmt, go-vet

test(e2e): ajout de tests end-to-end client-serveur complets
  tests/e2e/client_server_common.go
  tests/e2e/client_server_helpers.go
  tests/e2e/client_server_roundtrip_test.go
  tests/e2e/client_server_tests.go
Due: go-fmt, go-vet

test(auth): ajout de tests avancés pour l'authentification
  internal/authcmd/authcmd_advanced_test.go
  internal/authcmd/cert_generation_comprehensive_test.go
  internal/authcmd/cert_generation_helpers_test.go
Due: go-fmt, go-vet

test(client): ajout de tests de gestion d'erreurs client
  internal/clientcmd/network_errors_test.go
  internal/clientcmd/tls_errors_test.go
  internal/clientcmd/validation_test.go
Due: go-fmt, go-vet

test(server): ajout de tests avancés pour le serveur
  internal/servercmd/client_errors_test.go
  internal/servercmd/servercmd_shutdown_test.go
  internal/servercmd/servercmd_timeouts_test.go
  internal/servercmd/validation_test.go
Due: go-fmt, go-vet

test(rete): ajout de tests supplémentaires pour le moteur RETE
  constraint/constraint_constants_test.go
  rete/strong_mode_performance_calculations_test.go
  rete/structures_test.go
Due: go-fmt, go-vet

chore: suppression du répertoire REPORTS obsolète
  REPORTS/DEEP_CLEAN_CERTIFICATION_2025-12-08.md
  REPORTS/DEEP_CLEAN_SUMMARY_2025-12-08.md
  REPORTS/MODIFICATION_INGEST_FUNCTIONS_2025-12-07.md
  REPORTS/RACE_CONDITION_ANALYSIS_2025-12-08.md
  REPORTS/RACE_DETECTOR_PROMPTS_UPDATE_2025-12-08.md
  REPORTS/RACE_TESTING_EXPLANATION_2025-12-08.md
  REPORTS/README.md
  REPORTS/REFACTORING_3_FUNCTIONS_SUMMARY.md
  REPORTS/REFACTORING_4_COMPLEX_FUNCTIONS_2025-12-07.md
  REPORTS/REFACTORING_ADVANCED_BETA_2025-12-07.md
  REPORTS/REFACTORING_ALPHA_AND_BINARY_JOIN_2025-12-07.md
  REPORTS/REFACTORING_BETA_CHAIN_AND_AGGREGATION_2025-12-07.md
  REPORTS/REFACTORING_BuildDecomposedChain_2025-12-07.md
  REPORTS/REFACTORING_CONSTRAINT_PIPELINE_2025-12-07.md
  REPORTS/REFACTORING_CONTRIBUTING_2025-12-16.md
  REPORTS/REFACTORING_CORE_RETE_NODES_2025-12-13.md
  REPORTS/REFACTORING_INGEST_FILE_SUMMARY.md
  REPORTS/REFACTORING_INGEST_FILE_UNIQUE_2025-12-08.md
  REPORTS/REFACTORING_NETWORK_OPTIMIZER_2025-12-07.md
  REPORTS/REFACTORING_PERFORM_JOIN_2025-12-12.md
  REPORTS/REFACTORING_REMOVE_UNUSED_TIMESTAMPS_2025-12-08.md
  REPORTS/REFACTORING_RegisterMetrics_2025-12-07.md
  REPORTS/REFACTORING_RegisterMetrics_SUMMARY.md
  REPORTS/REFACTORING_SESSION_1_SUMMARY.md
  REPORTS/REFACTORING_SESSION_2025-12-07.md
  REPORTS/REFACTORING_SESSION_3_SUMMARY.md
  REPORTS/REFACTORING_SESSION_4_SUMMARY.md
  REPORTS/REFACTORING_SESSION_6_COMPLETE.md
  REPORTS/REFACTORING_SESSION_SUMMARY_2025-12-07.md
  REPORTS/REFACTORING_SUMMARY.md
  REPORTS/REFACTORING_THREE_FUNCTIONS_2025-12-07.md
  REPORTS/REFACTORING_TRACKER_2025-12-07.md
  REPORTS/REFACTORING_VALIDATION_2025-12-13.md
  REPORTS/REFACTORING_extractAggregationInfoFromVariables_2025-12-07.md
  REPORTS/STATS_COMPLETE_2025-01-15.md
  REPORTS/TEST_COVERAGE_IMPROVEMENT_2025-01-15.md
  REPORTS/TEST_COVERAGE_IMPROVEMENT_PHASE2_2025-12-15.md
  REPORTS/TEST_COVERAGE_PHASE3_ANALYSIS_2025-12-15.md
  REPORTS/TEST_COVERAGE_PHASE4_SUCCESS_2025-12-15.md
  REPORTS/USER_SUMMARY_RACE_DETECTOR_2025-12-08.md
Due: none

refactor(auth): amélioration de la gestion JWT et validation
  auth/auth.go
  auth/auth_test.go
Due: go-fmt, go-vet

refactor(authcmd): refactoring des commandes d'authentification
  internal/authcmd/authcmd.go
  internal/authcmd/authcmd_test.go
  internal/authcmd/cert_generation_helpers.go
  internal/authcmd/cert_output_formatters.go
Due: go-fmt, go-vet

refactor(client): amélioration de la robustesse du client
  internal/clientcmd/clientcmd.go
  internal/clientcmd/clientcmd_test.go
Due: go-fmt, go-vet

refactor(compiler): amélioration de la validation et gestion d'erreurs
  internal/compilercmd/compilercmd.go
  internal/compilercmd/compilercmd_test.go
Due: go-fmt, go-vet

refactor(server): amélioration majeure du serveur HTTP
  internal/servercmd/servercmd.go
  internal/servercmd/servercmd_coverage_additional_test.go
  internal/servercmd/servercmd_test.go
Due: go-fmt, go-vet

refactor(main): mise à jour du point d'entrée principal
  cmd/tsd/main.go
  cmd/tsd/unified_test.go
Due: go-fmt, go-vet

refactor(rete): amélioration du moteur RETE
  rete/action_cast_integration_test.go
  rete/action_executor_test.go
  rete/alpha_builder_test.go
  rete/alpha_chain_extractor_normalize_test.go
  rete/alpha_chain_extractor_test.go
  rete/alpha_normalization_test.go
  rete/alpha_or_expression_test.go
  rete/alpha_sharing_coverage_test.go
  rete/builder_utils_test.go
  rete/coherence_mode_test.go
  rete/coherence_phase2_test.go
  rete/coherence_test.go
  rete/coherence_testenv_example_test.go
  rete/constraint_pipeline_builder_test.go
  rete/constraint_pipeline_builder_wrappers_test.go
  rete/constraint_pipeline_chain_test.go
  rete/constraint_pipeline_logger_test.go
  rete/constraint_pipeline_metrics_test.go
  rete/converter_test.go
  rete/debug_logger.go
  rete/evaluator_cast_test.go
  rete/evaluator_test.go
  rete/expression_analyzer_test.go
  rete/fact_token_test.go
  rete/logger_test.go
  rete/nested_or_test.go
  rete/network.go
  rete/network_chain_removal_test.go
  rete/node_alpha.go
  rete/node_base.go
  rete/node_join.go
  rete/node_root.go
  rete/node_terminal.go
  rete/normalization_cache_test.go
  rete/passthrough_sharing_test.go
  rete/remove_rule_incremental_test.go
  rete/store_base_test.go
  rete/string_concatenation_test.go
  rete/test_environment_test.go
Due: go-fmt, go-vet

refactor(misc): améliorations diverses
  constraint/program_state.go
  tests/e2e/tsd_fixtures_test.go
  tests/performance/load_test.go
Due: go-fmt, go-vet

docs: mise à jour de la documentation et configuration
  .github/workflows/go-conventions.yml
  CHANGELOG.md
  Makefile
  README.md
  go.mod
Due: go-mod-tidy

docs(reports): ajout du rapport de nettoyage en profondeur
  .gitignore
  REPORTS/DEEP_CLEAN_REPORT_2025-12-16.md
Due: none

chore: suppression de code mort dans test utilities
  tests/shared/testutil/assertions.go
  tests/shared/testutil/fixtures.go
  tests/shared/testutil/helpers.go
Due: go-fmt, go-vet

docs(reports): ajout du rapport de suppression de code mort
  .gitignore
  REPORTS/DEAD_CODE_REMOVAL_2025-12-16.md
Due: none

fix(tests): restaurer helpers.go et corriger les tests après suppression code mort
  tests/e2e/tsd_fixtures_test.go
  tests/performance/load_test.go
  tests/shared/testutil/helpers.go
Due: go-fmt, go-vet

fix(tests): corriger les tests de performance échouants
  REPORTS/PERFORMANCE_TESTS_FIX_2025-12-16.md
  tests/performance/load_test.go
Due: go-fmt, go-vet

fix(tests): résoudre le bug de jointures 3+ variables dans TestLoad_JoinHeavy
  REPORTS/PERFORMANCE_TESTS_FIX_2025-12-16.md
  tests/performance/load_test.go
Due: go-fmt, go-vet

feat(grammar): retire le support de # comme commentaire
  constraint/comment_changes_test.go
  constraint/grammar/constraint.peg
  constraint/parser.go
  constraint/unicode_test.go
  rete/constraint_pipeline_test.go
Due: go-fmt, go-vet

docs: ajoute la documentation du changement de syntaxe des commentaires
  docs/COMMENT_SYNTAX_CHANGE.md
Due: none

refactor(tsd): migre les commentaires # vers // dans les fichiers de test
  constraint/test/integration/multiple_resets_test.tsd
  constraint/test/integration/reset_integration_test.tsd
  constraint/test/integration/unicode_complete_test.tsd
  constraint/test/integration/unicode_test.tsd
  constraint/test/validation/invalid_items.tsd
  constraint/test/validation/valid_items.tsd
  rete/test/incremental_propagation.tsd
  tests/fixtures/beta/arithmetic_basic_operators.tsd
  tests/fixtures/beta/arithmetic_complex_expressions.tsd
  tests/fixtures/beta/arithmetic_math_functions.tsd
  tests/fixtures/beta/arithmetic_string_functions.tsd
  tests/fixtures/beta/join_arithmetic_complete.tsd
  tests/fixtures/beta/reset_example.tsd
Due: none
