Repository treivax/tsd: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy

go-fmt:
  name: Go Format
  entry: gofmt
  args:
  - -l
  - -s
  - -w
  language: system

go-vet:
  name: Go Vet
  entry: go
  args:
  - vet
  - ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go
  args:
  - mod
  - tidy
  language: system
  pass_filenames: false

feat: Complete Beta Nodes testing overhaul
  BETA_NODES_COVERAGE_COMPLETE_RESULTS.md
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
  docs/BETA_NODES_IMPROVEMENT_SUMMARY.md
  test/coverage/beta/BETA_TESTS_PLAN.md
  test/coverage/beta/beta_coverage_test_runner.go
  test/coverage/beta/beta_exists_complex.constraint
  test/coverage/beta/beta_exists_complex.facts
  test/coverage/beta/beta_exists_real.constraint
  test/coverage/beta/beta_exists_real.facts
  test/coverage/beta/beta_join_complex.constraint
  test/coverage/beta/beta_join_complex.facts
  test/coverage/beta/beta_join_numeric.constraint
  test/coverage/beta/beta_join_numeric.facts
  test/coverage/beta/beta_join_simple.constraint
  test/coverage/beta/beta_join_simple.facts
  test/coverage/beta/beta_mixed_complex.constraint
  test/coverage/beta/beta_mixed_complex.facts
  test/coverage/beta/beta_not_complex.constraint
  test/coverage/beta/beta_not_complex.facts
  test/coverage/beta/beta_not_string.constraint
  test/coverage/beta/beta_not_string.facts
Due: go-fmt, go-vet

refactor: Update field order in NEGATION_RESULTS_COMPLETE.md
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
Due: none

feat: implémentation définitive ExistsNode et format tokens combinés
  BETA_NODES_COVERAGE_COMPLETE_RESULTS.md
  beta_coverage_tests/join_simple.constraint
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
  rete/constraint_pipeline.go
  rete/rete.go
  test/coverage/beta/beta_coverage_test_runner.go
Due: go-fmt, go-vet

docs: mise à jour rapport négations
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
Due: none

fix: format cohérent tokens combinés dans rapports Beta
  BETA_NODES_COVERAGE_COMPLETE_RESULTS.md
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
  test/coverage/beta/beta_coverage_test_runner.go
Due: go-fmt, go-vet

Implement feature X to enhance user experience and optimize performance
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
Due: none

feat: Complete RETE beta nodes coverage with generic architecture
  BETA_NODES_COVERAGE_COMPLETE_RESULTS.md
  beta_coverage_tests/complex_not_exists_combination.constraint
  beta_coverage_tests/complex_not_exists_combination.facts
  beta_coverage_tests/exists_complex_operator.constraint
  beta_coverage_tests/exists_complex_operator.facts
  beta_coverage_tests/join_and_operator.constraint
  beta_coverage_tests/join_and_operator.facts
  beta_coverage_tests/join_arithmetic_operators.constraint
  beta_coverage_tests/join_arithmetic_operators.facts
  beta_coverage_tests/join_comparison_operators.constraint
  beta_coverage_tests/join_comparison_operators.facts
  beta_coverage_tests/join_in_contains_operators.constraint
  beta_coverage_tests/join_in_contains_operators.facts
  beta_coverage_tests/join_multi_variable_complex.constraint
  beta_coverage_tests/join_multi_variable_complex.facts
  beta_coverage_tests/join_or_operator.constraint
  beta_coverage_tests/join_or_operator.facts
  beta_coverage_tests/not_complex_operator.constraint
  beta_coverage_tests/not_complex_operator.facts
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
  rete/constraint_pipeline.go
  rete/rete.go
  test/coverage/beta/beta_coverage_test_runner.go
Due: go-fmt, go-vet

docs: Update negation test results documentation
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
Due: none

feat: implémentation complète des tests de couverture avec architecture anti-hardcoding
  ALPHA_NODES_COVERAGE_COMPLETE_RESULTS.md
  BETA_NODES_COVERAGE_COMPLETE_RESULTS.md
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
  test/coverage/alpha/alpha_coverage_test_runner.go
  test/coverage/beta/beta_coverage_test_runner.go
Due: go-fmt, go-vet

Implement feature X to enhance user experience and fix bug Y in module Z
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
Due: none

refactor: nettoyage en profondeur du codebase
  DEEP_CLEAN_REPORT.md
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
  rete/perf_hash_joins.go
  rete/perf_token_propagation.go
  rete/pkg/nodes/base.go
  rete/rete.go
  scripts/code_quality_check.sh
  scripts/deep_clean.sh
  test/coverage/alpha/alpha_coverage_test_runner.go
  test/integration/beta_exhaustive_coverage_test.go
  test/integration/negation_rules_test.go
Due: go-fmt, go-vet

feat: complete code cleanup and 100% test coverage validation
  ALPHA_NODES_COVERAGE_COMPLETE_RESULTS.md
  BETA_NODES_COVERAGE_COMPLETE_RESULTS.md
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
  test/coverage/beta/beta_coverage_test_runner.go
Due: go-fmt, go-vet

Update field ordering in negation test results
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
Due: none

📊 Validation finale grammaire étendue - Tests exhaustifs Alpha/Beta
  .gitignore
  REFACTORING_PLAN.md
  SEMANTIC_COHERENCE_FINAL_REPORT.md
  VALIDATION_REPORT.md
  constraint/api.go
  constraint/constraint_types.go
  constraint/constraint_utils.go
  constraint/doc.go
  constraint/grammar/constraint.peg
  constraint/parser.go
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
  rete/doc.go
  rete/network.go
  test/grammar_facts_integration_test.go
  test/real_world_facts_test.go
Due: go-fmt, go-vet

🔧 Finalisations post-commit - Nettoyage fichiers modifiés
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
Due: none

feat: Étendre grammaire PEG pour support Unicode et migration parser
  constraint/grammar/constraint.peg
  constraint/parser.go
  constraint/test/integration/beta_mass_test_backup.facts
  constraint/test/integration/unicode_complete_test.constraint
  constraint/test/integration/unicode_test.facts
  constraint/unicode_test.go
  rete/constraint_pipeline.go
  rete/facts_parser.go
Due: go-fmt, go-vet

feat: Implement iterative parsing with RETE network integration
  .gitignore
  constraint/api.go
  constraint/program_state.go
  constraint/program_state_test.go
  rete/constraint_pipeline.go
  test/iterative_parsing_test.go
Due: go-fmt, go-vet

Implement EXISTS operator support for Beta validation
  BETA_NODES_COVERAGE_COMPLETE_RESULTS.md
  BETA_NODES_DETAILED_RESULTS.md
  test/coverage/beta/runner.go
  test_exists_only.sh
Due: go-fmt, go-vet

refactor(beta): Refactorisation profonde du runner Beta
  test/coverage/beta/runner_backup.go
Due: go-fmt, go-vet

cleanup: Suppression des fichiers obsolètes et temporaires
  ALPHA_NODES_COVERAGE_COMPLETE_RESULTS.md
  ALPHA_NODES_DETAILED_RESULTS.md
  DEEP_CLEAN_REPORT.md
  REFACTORING_PLAN.md
  SEMANTIC_COHERENCE_FINAL_REPORT.md
  VALIDATION_REPORT.md
  constraint/test/integration/beta_mass_test_backup.facts
  constraint/test/integration/beta_test_debug.constraint
  test/coverage/alpha/alpha_run.log
  test_exists_only.sh
Due: none

feat: Implémentation complète du réseau RETE avec validation
  .gitignore
  BETA_NODES_COVERAGE_COMPLETE_RESULTS.md
  BETA_NODES_DETAILED_RESULTS.md
  BETA_VALIDATION_FINAL_SUCCESS.md
  Makefile
  RAPPORT_FINAL_TESTS_COUVERTURE.md
  beta_coverage_tests/beta_accumulate_avg.constraint
  beta_coverage_tests/beta_accumulate_avg.facts
  beta_coverage_tests/beta_accumulate_count.constraint
  beta_coverage_tests/beta_accumulate_count.facts
  beta_coverage_tests/beta_accumulate_minmax.constraint
  beta_coverage_tests/beta_accumulate_minmax.facts
  beta_coverage_tests/beta_accumulate_sum.constraint
  beta_coverage_tests/beta_accumulate_sum.facts
  beta_coverage_tests/beta_exists_complex.constraint
  beta_coverage_tests/beta_exists_complex.facts
  beta_coverage_tests/beta_join_complex.constraint
  beta_coverage_tests/beta_join_complex.facts
  beta_coverage_tests/beta_not_complex.constraint
  beta_coverage_tests/beta_not_complex.facts
  beta_coverage_tests/beta_pattern_complex.constraint
  beta_coverage_tests/beta_pattern_complex.facts
  cmd/debug-rete/main.go
  cmd/rete-validate/main.go
  cmd/unified-rete-runner/main.go
  internal/validation/rete.go
  pkg/testing/test_runner.go
  test/coverage/beta/demo_rete_real.go
  test/coverage/beta/go.mod
  test/coverage/beta/run_all_rete_tests.sh
  test/coverage/beta/runner.go
  test/coverage/beta/runner_backup.go
  test/coverage/beta/runner_old_large.go
  test/coverage/beta/runner_rete_real.go
  test/coverage/beta/runner_rete_standalone.go
  test/coverage/beta/runner_temp.go
  test/coverage/beta/test_rete_integration.go
  test/rete_demo/demo_rete_real.go
Due: go-fmt, go-vet, go-mod-tidy

feat: Implémentation RETE complète avec jointures binaires en cascade
  cmd/test-rete-new/main.go
  internal/validation/rete.go
  internal/validation/rete_new_test.go
  internal/validation/rete_validation_new.go
  test-rete-new
Due: go-fmt, go-vet

RETE Propagation Incrementale Production Ready
  RAPPORT_PROPAGATION_INCREMENTALE.md
  internal/validation/rete_new_test.go
  internal/validation/rete_validation_new.go
  test-rete-new
Due: go-fmt, go-vet

🧹 Deep Clean: Supression code mort et optimisation architecture
  cmd/debug-rete/main.go
  cmd/rete-validate/main.go
  cmd/test-rete-new/main.go
  cmd/unified-rete-runner/main.go
  constraint/scripts/clean.sh
  pkg/testing/test_runner.go
  rete/scripts/clean.sh
  scripts/run_detailed_coverage_tests.sh
  test-rete-new
  test/coverage/alpha/runner.go
  test/coverage/beta/demo_rete_real.go
  test/coverage/beta/runner.go
  test/coverage/beta/runner_old_large.go
  test/coverage/beta/runner_rete_real.go
  test/coverage/beta/runner_rete_standalone.go
  test/coverage/beta/runner_temp.go
  test/coverage/beta/test_rete_integration.go
  test/rete_demo/demo_rete_real.go
Due: go-fmt, go-vet

fix: Refactoriser unified-rete-runner pour compatibilité post-nettoyage
  cmd/unified-rete-runner/main.go
Due: go-fmt, go-vet

refactor(constraint): amélioration production-ready avec couverture 59.3%
  constraint/comprehensive_validation_test.go
  constraint/coverage_test.go
  constraint/errors.go
  constraint/nonblocking_test.go
  constraint/program_state.go
  constraint/program_state_methods.go
  constraint/program_state_test.go
  constraint/validation_test.go
Due: go-fmt, go-vet

feat(cli): ajout support texte direct et stdin
  cmd/main.go
Due: go-fmt, go-vet

feat: Implémentation complète fonctions d'accumulation avec syntaxe réelle
  beta_coverage_tests/beta_accumulate_avg.constraint
  beta_coverage_tests/beta_accumulate_avg.facts
  beta_coverage_tests/beta_accumulate_count.constraint
  beta_coverage_tests/beta_accumulate_count.facts
  beta_coverage_tests/beta_accumulate_minmax.constraint
  beta_coverage_tests/beta_accumulate_minmax.facts
  beta_coverage_tests/beta_accumulate_sum.constraint
  beta_coverage_tests/beta_accumulate_sum.facts
  cmd/rete-validate/main.go
  constraint/grammar/constraint.peg
  constraint/parser.go
Due: go-fmt, go-vet

refactor: Migration test propagation incrémentale vers moteur principal
  CHANGELOG.md
  cmd/rete-validate/main.go
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
  internal/validation/rete_new_test.go
  internal/validation/rete_validation_new.go
  rete/rete_test.go
  rete/test/incremental_propagation.constraint
  rete/test/incremental_propagation.facts
Due: go-fmt, go-vet

refactor: Découpage rete.go en modules par type de nœud
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
  rete/fact_token.go
  rete/interfaces.go
  rete/node_accumulate.go
  rete/node_alpha.go
  rete/node_base.go
  rete/node_exists.go
  rete/node_join.go
  rete/node_root.go
  rete/node_terminal.go
  rete/node_type.go
  rete/rete.go
  rete/rete_test.go
  rete/structures.go
Due: go-fmt, go-vet

feat: Implement standard operator precedence (NOT > AND > OR)
  constraint/grammar/parser.go
  docs/GRAMMAR_GUIDE.md
Due: go-fmt, go-vet

docs: Add comprehensive TSD documentation (GRAMMAR_GUIDE, TUTORIAL, EXAMPLES)
  constraint/test/integration/NEGATION_RESULTS_COMPLETE.md
  docs/EXAMPLES.md
  docs/TUTORIAL.md
Due: none

feat(rete): Simplification API GetFact/RemoveFact pour utiliser uniquement des IDs internes
  rete/fact_token.go
  rete/network.go
  rete/network_test.go
  rete/node_alpha.go
  rete/node_exists.go
  rete/node_join.go
  rete/node_root.go
  rete/node_terminal.go
  rete/node_type.go
  rete/rete_test.go
Due: go-fmt, go-vet

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
